<h1>Listing visits</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Client</th>
      <th>Visit time</th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= link_to visit.location.name, visit.location %></td>
        <td><%= link_to visit.client.code, visit.client %></td>
        <td><%= link_to visit.visit_time, visit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new Visit', new_visit_path, class: "button tiny radius" %>
