<h1> Generate Report </h1>
<div class="small-2 columns">
	<form action = "/reports">
		<input type="date" name="startd">
		<input type="date" name="endd">

		<input type="submit" value="Submit" class="button secondary radius">
	</form>
</div>
